<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <style>
    
    *{
        padding: 0;
        margin: 0;
    }
    .red{background: red}
    /* #app div{display: none} */

    </style>
</head>
<body>
    <div id='app'>
        <input type="button" v-for=' time,i in newData' v-bind:value='time.title' v-bind:class="{red:index===i}" v-on:click='dbckas(i)'>
        <div v-bind:style="{display:index===j?'block':'none'}" v-for='time,j in newData '>
            <p v-for=' dbug in time.bugData'>{{dbug}}</p>
        </div>
    </div>

    <script>
        let newData=[
            {
                title:'按钮1',
                bugData:['天气不好1','天气不好2','天气不好3']
            },
            {
                title:'按钮2',
                bugData:['天气很好1','天气很好2']
            },
            {
                title:'按钮3',
                bugData:['天气很不好1','天气很不好2']
            }
        ]
    



     new Vue({
        el:'#app',
        data:{
            
            newData,
            index:0
        },
        methods:{
            dbckas(h){
                this.index=h
            }
        }

    });

    </script>
</body>
</html>